:host {
  display: block;
  padding: 1rem 1rem;
}

// ポーズカード

.container.simple-card {
  border-style: solid;
  position: relative;
  width: 100%;
  padding: 0 0 0 0;
  overflow: hidden;
  line-height: 0;
  box-shadow: 0 0 0px 1px #ddddddaa;
  transition: all 0.3s ease;
  z-index: 1;
}

.container:hover {
  box-shadow: 0 0 6px 1px #a0a0a0aa;
}

// ポーズカード > ポーズの概要

.pose-summary {
  background-color: #777777aa;
  backdrop-filter: blur(8px);
  color: #fefefe;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  text-align: center;
  line-height: initial;
  padding: 0.5rem 0 0.5rem 0;

  .song-name {
    margin: 0 0 0 0;
  }

  .pose-time {
    margin: 0 0 0 0;
    font-size: 0.9em;

    mat-icon {
      font-size: 0.8rem;
      line-height: 0.9rem;
      vertical-align: middle;
      margin-bottom: -9px;
    }
  }

  .favorite-button {
    color: #f0f0f0;
    position: absolute;
    top: 0.25rem;
    bottom: 0;
    right: 0.5rem;
    vertical-align: middle;

    &.favorite {
      color: #f1c40f;
    }
  }
}

// ポーズカード > ポーズ画像

img.pose-image {
  object-fit: cover;
  aspect-ratio: 9/16;
  width: 12vw;
  min-width: 200px;
}

// ポーズカード > タグ

.pose-tags {
  background-color: #777777aa;
  backdrop-filter: blur(8px);
  color: #fefefe;
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 2rem;
  padding: 0 0 0 0;

  .tag-toggle-button {
    color: #eeeeee;
    cursor: pointer;
    font-size: 0.8rem;
    width: 100%;
    line-height: 2rem;
    text-align: center;

    &.empty-tags {
      color: #ffffff;
    }
  }

  .tag-toggle-button:hover {
    background-color: #ddddddaa;
    color: #222222;
  }

  form {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }
}

::ng-deep .pose-tags mat-form-field {
  box-sizing: border-box;
  width: 100%;
  padding: 1rem 1rem;
}

::ng-deep .pose-tags mat-form-field,
::ng-deep .pose-tags .mat-mdc-text-field-wrapper {
  background-color: transparent;
  color: #ffffff;
  font-size: 0.8rem;
}

.pose-tags ::placeholder {
  color: #f0f0f0 !important;
}

// モバイル対応

@media screen and (max-width: 799px) {
  // ポーズカード

  .container.simple-card {
    width: 100%;
    margin-bottom: 2rem;
  }

  // ポーズカード > ポーズ画像

  img.pose-image {
    width: 100%;
    aspect-ratio: 9/14;
    max-height: 70vh;
  }
}
