<div class="container simple-card" *ngIf="pose">
  <div class="pose-summary">
    <p class="song-name">
      {{ pose.title }}
    </p>
    <p
      class="pose-time"
      matTooltip="{{ pose.scoreString }} --> {{ pose.scoreDetails | json }}"
    >
      <mat-icon>schedule</mat-icon>
      {{ pose.timeSeconds }} 秒付近から {{ pose.durationSeconds }} 秒間
    </p>

    <!--<button
      class="favorite-button"
      mat-icon-button
      [ngClass]="{ favorite: pose?.isFavorite }"
      (click)="pose!.isFavorite = !pose!.isFavorite"
    >
      <mat-icon *ngIf="!pose?.isFavorite">star_border</mat-icon>
      <mat-icon *ngIf="pose?.isFavorite">star</mat-icon>
    </button>-->
  </div>

  <img class="pose-image" [src]="pose.imageUrl" />

  <div class="pose-tags" *ngIf="!pose.isNonDisplayItemForLayoutAdjustment">
    <!-- タグのトグルボタン -->
    <div
      class="tag-toggle-button"
      (click)="isShowingTagEditForm = !isShowingTagEditForm"
      [ngClass]="{ 'empty-tags': !pose.tags || pose.tags.length === 0 }"
    >
      <ng-container *ngIf="isShowingTagEditForm">
        <mat-icon style="line-height: 2rem">expand_more</mat-icon>
      </ng-container>
      <ng-container *ngIf="!isShowingTagEditForm">
        <ng-container *ngIf="!pose.tags || pose.tags.length === 0">
          タグを付けてください
        </ng-container>
        <ng-container *ngIf="pose.tags && pose.tags.length === 1">
          #{{ pose.tags[0] }}
        </ng-container>
        <ng-container *ngIf="pose.tags && 2 <= pose.tags.length">
          #{{ pose.tags[0] }} &nbsp;
          <small>＋ {{ pose.tags.length - 1 }} 件</small>
        </ng-container>
      </ng-container>
    </div>
    <!---->

    <!-- タグ編集フォーム -->
    <form
      class="tag-edit-form"
      [style.display]="isShowingTagEditForm ? 'block' : 'none'"
    >
      <mat-form-field class="example-chip-list" appearance="fill">
        <mat-chip-grid #chipGrid>
          <mat-chip-row
            *ngFor="let tagName of pose?.tags"
            (removed)="this.removeTag(tagName)"
          >
            {{ tagName }}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
        </mat-chip-grid>
        <input
          *ngIf="this.pose.tags && this.pose.tags.length < 5"
          placeholder="タグを追加..."
          #tagInput
          [formControl]="this.tagFormCtrl"
          [matChipInputFor]="chipGrid"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matAutocomplete]="auto"
          (matChipInputTokenEnd)="addTag($event)"
        />
        <mat-autocomplete
          #auto="matAutocomplete"
          (optionSelected)="this.onTagSelected($event)"
        >
          <mat-option
            *ngFor="let tagName of filteredAvailableTags | async"
            [value]="tagName"
          >
            {{ tagName }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
    <!---->
  </div>
</div>
