<div class="search-form-container">
  <p class="caption">
    ポーズ一覧
    <mat-icon
      style="
        vertical-align: middle;
        margin: 0 -2rem 4px 1rem;
        visibility: hidden;
      "
    >
      search
    </mat-icon>
  </p>
  <div class="tag-search-form simple-card">
    <p class="tag-name">
      <ng-container *ngIf="this.poseFile?.type === 'song'">
        <mat-icon
          style="
            color: #777777;
            font-size: 1.3rem;
            vertical-align: middle;
            margin: 0 0.5rem 2px -1rem;
          "
          >music_note</mat-icon
        >
      </ng-container>
      {{ this.poseFile?.title }}
    </p>
  </div>
</div>
