$app-primary-colors: (
  50: #eaeef8,
  100: #cad6ed,
  200: #a6bae1,
  300: #829ed4,
  400: #688acb,
  500: #4d75c2,
  600: #466dbc,
  700: #3d62b4,
  800: #3458ac,
  900: #25459f,
  A100: #dde5ff,
  A200: #aabfff,
  A400: #7798ff,
  A700: #5d85ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
