<div class="page-summary">
  <h2>FAQ</h2>
</div>

<div class="faq-category">
  <a name="general"></a>
  <h3>全般</h3>
</div>

<div class="simple-card bordered">
  <h3>Q. このサービスはどんなときに使えますか？</h3>
  <ul>
    <li>
      <b> "自分でポーズをとって探す" (α版)</b>
      <ul>
        <li>自宅などでじっくり、構図を考えたいときに便利です。<br /></li>
        <li>
          利用例 (1): 「明日、こんなポーズで撮りたいけど、どの曲にあるだろう？」
        </li>
        <li>
          利用例 (2): 「言葉でうまく表現できないけど、こんなポーズはあるかな？」
        </li>
      </ul>
    </li>
    <li>
      <b>"タグからポーズを探す"</b>
      <ul>
        <li>
          お出かけ先でサクッと、ポーズを選んだり、探したりしたいときに便利です。
        </li>
        <li>利用例 (1): 「良い場所見つけたけど、どんなポーズで撮ろう？」</li>
        <li>
          利用例 (2): 「ここで撮りたい。ハートサインはどの曲だっけ・・・？」
        </li>
      </ul>
    </li>
    <li>
      <b>"全てのポーズをじっくり眺める"</b>
      <ul>
        <li>
          自宅などでじっくり、ポーズを眺めたり発掘したりしたいときにご利用ください。
        </li>
        <li>利用例: 「どんなポーズがあるのだろう？」</li>
      </ul>
    </li>
  </ul>
</div>

<div class="simple-card bordered">
  <h3>Q. ポーズの表示されない楽曲がありますが？</h3>
  <p>
    対応している楽曲はまだ限定的ですが、順次追加してまいります。<a
      routerLink="/about/supported-poses"
      >ポーズの対応状況</a
    >
    をご覧ください。
  </p>
</div>

<div class="faq-category">
  <a name="camera-search"></a>
  <h3>"自分でポーズをとって探す" (α版) について</h3>
</div>

<div class="simple-card bordered">
  <h3>Q. 期待通りのポーズを検索できません</h3>
  <p>以下をご確認ください</p>
  <ul>
    <li>
      カメラ映像の画角内に、少なくとも「腰から上」と「両腕」が収まっていますか？<br />
      <small>
        スマートフォンなどでお使いの場合は、壁やスタンドなどに立てかけて、離れてお使いになることをおすすめします。<br />
        また、カウントダウンの時間は、標準の3秒から10秒に変更することも可能です。</small
      >
    </li>
    <li>
      現在、指の識別には未対応です。<br />
      <small
        >例えば、チョキとパーを見分けることはできません。<br />現在、識別精度との戦いを挑んでおりますので、今後のアップデートをお待ちください。</small
      >
    </li>
  </ul>
</div>

<div class="simple-card bordered">
  <h3>Q. "しばらくお待ちください..." が長いのですが？</h3>
  <p>
    この読み込み処理では、カメラの起動処理のほか、ポーズ認識に使用する機械学習モデルやポーズ情報のダウンロードが行われます。
  </p>
  <p>
    従って、初回使用時やキャッシュが消去されたとき
    (しばらく使用しなかったときも含む) は、特に時間がかかります。<br />恐れ入りますが、画面はそのままでお待ちください。<br />
  </p>
  <p>
    所要時間の目安として、Wi-Fi 回線では 10秒程度、4G 回線では
    30秒〜1分半ほど要することがあります。<br />
    通信量は、すべて再ダウンロードした場合で、35MB前後です。(2023/01 現在)
  </p>
</div>

<div class="faq-category">
  <a name="tag-search"></a>
  <h3>"タグからポーズを探す" について</h3>
</div>

<div class="simple-card bordered">
  <a name="release-status"></a>
  <h3>Q. 誰でもタグをつけることができますか？</h3>
  <p>
    はい。誰でもタグを付与できます。<br />
    付与したタグは全ユーザに共有されますので、他のユーザの方が便利に使えるように、タグをつけていただければ幸いです。<br />
    皆さまのご協力に感謝申し上げます。
  </p>
  <small>
    ※
    ログを記録しておりますので、誹謗中傷やセンシティブな言葉など、不適切なタグを付与された場合は、今後のご利用を制限する場合があります。
    また、管理に支障をきたすレベルの場合は、法的措置を取る可能性があります。
  </small>
</div>

<div class="simple-card bordered">
  <a name="release-status"></a>
  <h3>Q. 不適切なタグを見つけました。どうしたらいいですか？</h3>
  <p>
    管理者も巡回をしておりますが、タグは誰でも外すことができますので、明らかな問題があると思われるタグを発見されたときは、外していただければ幸いです。<br />
    特に目に余る場合は、
    <a href="https://twitter.com/arisucool" target="_blank" rel="noopener"
      >@arisucool</a
    >
    までご一報いただけますと幸いです。皆さまのご協力に感謝申し上げます。
  </p>
  <small>
    ※
    ログを記録しておりますので、イタズラにタグを削除されたと判断した場合は、今後のご利用を制限する場合があります。
    また、管理に支障をきたすレベルの場合は、法的措置を取る可能性があります。
  </small>
</div>

<div class="bottom-navigation">
  <a routerLink="/about">
    <mat-icon>navigate_before</mat-icon> &nbsp; Derespose についてへ</a
  >
</div>
