<div class="search-ctrl simple-card" *ngIf="poseList">
  <!-- ポーズリストの作成者 -->
  <p class="pose-list-title">
    {{ poseList.title }}
  </p>
  <!---->

  <!-- ポーズリストの作成者 -->
  <p class="pose-list-author" *ngIf="poseList.user">
    {{ poseList.user.displayName }} さん<br />
    <a
      class="twitter-link"
      href="https://twitter.com/{{ poseList.user.twitterUserName }}"
      target="_blank"
      rel="noopener noreferrer"
      >@{{ poseList.user.twitterUserName }}</a
    >
  </p>
  <!---->

  <!-- ポーズリストの更新日時 -->
  <p class="pose-list-date">
    最終更新: &nbsp;{{ poseList.updatedAt | date : 'yyyy/MM/dd' }}
  </p>
  <!---->

  <!-- 操作ボタン (他のユーザ向け) -->
  <p
    class="edit-buttons"
    *ngIf="this.isMyPoseList !== undefined && !this.isMyPoseList"
  >
    <!-- 評価ボタン -->
    <button
      (click)="this.toggleVoteOfPoseList()"
      class="vote-button"
      mat-stroked-button
      color="accent"
      [matTooltip]="
        this.isVoted
          ? 'このポーズリストのいいねを取り消す'
          : 'このポーズリストにいいね'
      "
    >
      <mat-icon *ngIf="!this.isVoted" style="margin: 0 0 0 0"
        >thumb_up_off_alt</mat-icon
      >
      <mat-icon *ngIf="this.isVoted" style="margin: 0 0 0 0">thumb_up</mat-icon>
    </button>
    <!---->

    &nbsp;&nbsp;

    <!-- ツイートボタン -->
    <a
      [href]="this.tweetUrl"
      class="twitter-share-button"
      class="tweet-button"
      mat-stroked-button
      color="primary"
      matTooltip="このポーズリストを Twitter でシェア"
      target="_blank"
      rel="noopener"
    >
      <fa-icon [icon]="twitterIcon"></fa-icon>
    </a>
    <!---->
  </p>
  <!---->

  <!-- ポーズリストについて (他のユーザ向け) -->
  <p
    class="about"
    *ngIf="this.isMyPoseList !== undefined && !this.isMyPoseList"
  >
    <a routerLink="/about/faq" fragment="pose-list"> このページについて </a>
  </p>
  <!---->

  <!-- 操作ボタン (作成者向け) -->
  <p class="edit-buttons" *ngIf="this.isMyPoseList">
    <!-- 削除ボタン -->
    <button
      (click)="this.deletePoseList()"
      class="delete-button"
      mat-stroked-button
      color="warn"
      matTooltip="このポーズリストを削除"
      [disabled]="this.isRequestingUpdatePoseList"
    >
      <mat-icon style="margin: 0 0 0 0">delete</mat-icon>
    </button>
    <!---->

    &nbsp; &nbsp;

    <!-- 公開モードの切り替えボタン -->
    <button
      class="delete-button"
      mat-stroked-button
      [matTooltip]="
        this.poseList.publicMode === 'public'
          ? 'このポーズリストは公開されています。変更するにはクリックします。'
          : 'このポーズリストは限定公開となっています。変更するにはクリックします。'
      "
      [disabled]="this.isRequestingUpdatePoseList"
      [matMenuTriggerFor]="menuForPublicMode"
    >
      <ng-container *ngIf="this.poseList.publicMode === 'public'">
        <mat-icon style="margin-top: 3px">public</mat-icon>
      </ng-container>
      <ng-container *ngIf="this.poseList.publicMode === 'sharedByUrl'">
        <mat-icon style="margin-top: 3px">link</mat-icon>
      </ng-container>

      <mat-menu #menuForPublicMode="matMenu">
        <button
          (click)="this.setPublicModeOfPoseList('public')"
          mat-menu-item
          [disabled]="this.poseList.publicMode === 'public'"
        >
          <mat-icon>public</mat-icon>
          &nbsp; 公開
        </button>
        <button
          (click)="this.setPublicModeOfPoseList('sharedByUrl')"
          mat-menu-item
          [disabled]="this.poseList.publicMode === 'sharedByUrl'"
        >
          <mat-icon>link</mat-icon>
          &nbsp; 限定公開
        </button>
      </mat-menu>
    </button>
    <!---->

    &nbsp;&nbsp;

    <!-- ツイートボタン -->
    <a
      [href]="this.tweetUrl"
      class="twitter-share-button"
      class="tweet-button"
      mat-stroked-button
      color="primary"
      matTooltip="このポーズリストを Twitter でシェア"
      target="_blank"
      rel="noopener"
    >
      <fa-icon [icon]="twitterIcon"></fa-icon>
    </a>
    <!---->
  </p>
  <!---->
</div>
