:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;

  .search-ctrl {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 0 0 1rem 0;
    width: fit-content;
    gap: 1.5rem;

    p {
      margin: 0 0 0 0;

      &.pose-list-title {
        font-size: 1.4rem;
      }

      &.pose-list-author {
        font-size: 0.9rem;

        a.twitter-link {
          font-size: 0.8rem;
        }
      }

      &.pose-list-date {
        color: #888888;
        font-size: 0.8rem;
      }

      &.about {
        font-size: 0.7rem;
        color: #888888;
      }
    }
  }
}
