<h1 mat-dialog-title>マイリストへ追加...</h1>
<mat-dialog-content>
  <!-- ログインしているとき -->
  <ng-container *ngIf="isLoggedIn">
    <section class="my-pose-lists-selector">
      <ul>
        <li *ngFor="let poseList of this.poseLists">
          <mat-checkbox
            [(ngModel)]="poseList.selected"
            (ngModelChange)="onSelectionChanges(poseList.poseList.id, $event)"
          >
            {{ poseList.poseList.title }}
          </mat-checkbox>
        </li>
      </ul>
    </section>
  </ng-container>
  <!---->

  <!-- ログインしていないとき -->
  <ng-container *ngIf="!isLoggedIn">
    <p>
      見つけたポーズをマイリストに追加して、まとめることで、<br />
      お出かけ先で確認したり、他のユーザに共有したりできます。
    </p>
    <p>
      この機能を使うには、Twitter アカウントによるログインが必要です。<br />
      <a href="/auth/login" target="_blank" style="font-size: 0.8rem"
        >できることについて詳しくはこちら</a
      >
    </p>
    <p style="text-align: right; padding-bottom: 0">
      <app-login-form [openWithNewWindow]="true"></app-login-form>
    </p>
  </ng-container>
  <!---->
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="createPoseList()" [disabled]="!isLoggedIn">
    <mat-icon>add</mat-icon>
    新しいリストを作成
  </button>
  &nbsp;
  <button mat-button mat-dialog-close>閉じる</button>
</mat-dialog-actions>
