<div class="app-page-summary">
  <h2>Derespose について</h2>
</div>

<div class="about-app app-card bordered">
  <h3>Derespose へようこそ</h3>
  <p>
    Derespose (でれすぽーず)
    は、デレスポのポーズを探すための非公式サービスです。<br />
    デレスポでAR写真を撮影されている P
    の皆さまに役立てていただけることを願って生まれました。
  </p>
  <p>
    ご意見などは、
    <a href="https://twitter.com/arisucool" target="_blank" rel="noopener"
      >@arisucool</a
    >
    までお気軽にお寄せください。
  </p>
  <p>
    ご不明な点がある場合は、
    <a routerLink="/about/faq">FAQ</a> もご確認ください。<br />
    また、現在対応しているポーズ (楽曲) については、<a
      href="/about/supported-poses"
      >ポーズの対応状況</a
    >
    をご覧ください。
  </p>
  <p></p>
</div>

<div class="terms app-card bordered">
  <a name="terms"></a>
  <h3>利用規約・プライバシーポリシー</h3>
  <h4>1. 本サービスおよび第三者の関係性について</h4>
  <p>
    デレスポ (正式名称: アイドルマスター シンデレラガールズ
    スターライトスポット)
    は、株式会社バンダイナムコエンターテインメント様、株式会社Cygames様の製品および商標です。
  </p>
  <p>
    一方、Derespose (以下、本サービス)
    は、同社と一切関係のない個人により趣味として開発しております。<br />
    同社に問い合わせをするなど、迷惑をかける行為は決して行わないよう、お願いいたします。
  </p>

  <h4>2. 免責事項</h4>
  <p>
    本サービスの使用によって、いかなるトラブルが発生した場合も、開発者は一切の責任を負いかねます。<br />
    ※
    本サービスはデレスポと連携するものではなく、デレスポの動作に一切の影響を与えることはありません。
  </p>
  <p>
    本サービスは、予告なく休止または終了する場合があります。ご了承ください。
  </p>

  <h4>3. ポーズ認識検索で扱う情報について</h4>
  <p>
    本サービスのポーズ認識検索では、お使いの端末のカメラを使用して、あなたのポーズを認識します。
    <br />
    カメラの映像は、お使いの端末内で処理されるため、サーバへの送信や記録等は行いません。
    <br />
    ただし、認識したポーズ情報 (映像・画像・個人情報等を含まないもの)
    は、サーバに送信し、一致するタグの取得や精度改善のために使用します。<br />
  </p>

  <h4>4. タグ検索で扱う情報について</h4>
  <p>
    本サービスのタグ検索では、選択されたタグの情報 (例: "ダブルピース")
    をサーバへ送信することで、検索を行います。<br />
  </p>

  <h4>5. タグ編集で扱う情報について</h4>
  <p>
    本サービスでは、他のユーザの役に立つよう、検索したポーズにタグを付けることができます。<br />
    編集されたタグの情報は、サーバへ送信および記録し、全てのユーザと共有します。
  </p>

  <h4>6. アクセスログの取得について</h4>
  <p>
    本サービスでは、他のいかなるサービスと同様に、サーバ側でアクセスログを取得しており、IPアドレスを記録しています。<br />
    このアクセスログは、原則、12ヶ月経過後に自動的に削除します。
  </p>

  <h4>7. 情報の監視および削除について <a name="prohibited-contents"></a></h4>
  <p>
    本サービスにて保管しているいかなる情報も、管理者による確認および判断によって、予告や作成者の了承なしに削除することができるものとします。<br />
    特に、長期間にわたって利用実績のない情報や、健全なサービス運用にそぐわない不適切な内容と判断した情報は、積極的に削除または非公開への変更を行います。<br />
    持続可能かつ健全なサービス運用のために、皆様のご理解ご協力をお願いいたします。
  </p>
  <p>
    不適切な内容について、以下に一例を挙げます。<br />
    例えば、タグやマイリストの名称などにおいて、これらを使用した場合、ただちに措置を行います。
  </p>

  <ul>
    <li>
      アイドルまたは関係各所に対する誹謗中傷、またはイメージを毀損する内容
    </li>
    <li>センシティブな内容</li>
    <li>悪戯目的の内容</li>
    <li>その他、管理者が不適切と判断した内容</li>
  </ul>

  <p>
    また、本サービスにて登録されたユーザ情報およびポーズリストは、ユーザ自身の申請によって、いつでも削除することが可能です。
  </p>

  <h4>8. Twitter アカウントとの連携 (任意) について</h4>
  <p>
    本サービスでは、いかなるユーザ登録またはログインをせずとも、基本機能を利用いただけます。<br />
    しかし、Twitter
    アカウントにてログインすることで、追加機能をご利用いただけます。<br />
  </p>
  <p>
    本サービスにて、Twitter アカウントを用いてログインした際、Twitter
    社から当該アカウントの情報提供が行われます。<br />
    さらに本サービスのデータベースでは、提供されたアカウント情報をもとに、ユーザ情報の登録または更新を行います。<br />
    尚、 Twitter API にて使用する権限は、読み取り権限のみであり、Twitter
    に対する書き込みは行いません。
  </p>
  <p>
    Twitter API
    より取得した情報のうち、使用・保管する項目は、以下の通りです。<br />
    これらの項目は、本サービスの "ポーズリスト" (マイリスト)
    機能など、追加機能にて利用します。
  </p>
  <ul>
    <li>
      ユーザID (id)&nbsp;&nbsp;-&nbsp;&nbsp;(Twitter ユーザを識別する一意の数字)
    </li>
    <li>ユーザ名 (username)&nbsp;&nbsp;-&nbsp;&nbsp;(例: "arisucool")</li>
    <li>表示名 (displayName)&nbsp;&nbsp;-&nbsp;&nbsp;(例: "arisu.cool 🍓")</li>
    <li>
      アクセストークン (accessToken)&nbsp;&nbsp;-&nbsp;&nbsp;(Twitter API
      から提供される情報ですが、現状は使用しておりません。)
    </li>
  </ul>
  <p>
    本サービスにて登録されたユーザ情報は、作成者自身の申請により、いつでも削除することが可能です。
  </p>

  <h4>9. ポーズリスト機能 (マイリスト) で扱う情報について</h4>
  <p>
    本サービスでは、ポーズリストを作成し、検索したポーズを登録できます。<br />
    作成したポーズリストは、選択した公開範囲が "公開"
    の場合、全てのユーザに対して自動的に共有(公開)します。<br />
    また、"限定公開" の場合、自動的に公開することはありませんが、
    作成者は当該ポーズリストのURLを用いて、第三者に対してポーズリストを共有できます。<br />
    いずれの場合も、共有されたポーズリストには、作成者の Twitter
    アカウントのユーザ名を表示します。
  </p>
  <p>
    本サービスにて作成されたポーズリストは、作成者自身の操作により、いつでも削除することが可能です。
  </p>

  <h4>10. プライバシーポリシーの改定について</h4>
  <p>
    これらのポリシーは、今後の機能追加などに伴って変更される可能性があります。あらかじめご了承ください。
  </p>
  <p>
    2023/03/15　サービス公開に向けて全体を改定<br />
    2023/01/12　初版
  </p>
</div>

<div class="app-card bordered">
  <h3>ライセンス</h3>
  <p>
    Derespose は、オープンソースソフトウェア (OSS)
    として、ソースコード一式を公開しています。<br />
    <a href="https://github.com/arisucool/derespose" target="_blank"
      >https://github.com/arisucool/derespose</a
    >
  </p>
  <p>
    その他のサードパーティライセンスについては、<a
      href="/3rdpartylicenses.txt"
      target="_blank"
      >こちら</a
    >
    をご覧ください。
  </p>
  <p>
    また、本サービスにてポーズ検索を行うと、該当するポーズの画像が表示されます。
    それらの画像は、株式会社バンダイナムコエンターテインメント様のアプリを用いて撮影したものであるため、同社に権利が帰属します。<br />
  </p>
</div>

<div class="app-bottom-navigation">
  <a routerLink="/"
    ><mat-icon>navigate_before</mat-icon> &nbsp; トップページへ</a
  >
</div>
