<p class="caption wbr">
  自分でポーズをとって探す <small>(α版)</small>
  <mat-icon style="vertical-align: middle; margin: 0 -2rem 4px 1rem">
    emoji_people
  </mat-icon>
  <br />
  <small
    >デレスポARから、似たポーズのある曲を探します。<br />
    例えば、右手をグーにして伸ばしてみてください。<wbr />うまく動かないときは、
    <a routerLink="/about/faq" fragment="camera-search" target="_blank">FAQ</a>
    へ。
  </small>
</p>
<div class="search-ctrl app-card">
  <div class="video-container">
    <!-- メッセージ領域 -->
    <div
      class="message"
      *ngIf="
        this.state === 'initializing' ||
        this.state === 'countdown' ||
        this.state === 'retrying'
      "
      [ngClass]="{ init: this.state === 'initializing' }"
    >
      <ng-container *ngIf="this.state === 'initializing'">
        しばらくお待ちください...
      </ng-container>
      <ng-container *ngIf="this.state === 'retrying'">
        一致するポーズがありません。もう一度試しましょう！
      </ng-container>
      <ng-container *ngIf="this.state === 'countdown'">
        <mat-icon>timer</mat-icon>
        あと {{ countdownRemainSeconds }} 秒でポーズを取ってください
      </ng-container>
    </div>
    <!---->

    <!-- シャッターアニメーション用領域 -->
    <div class="shutter" *ngIf="isEnableShutterAnimation"></div>
    <!---->

    <!-- カメラ映像領域 -->
    <video
      #cameraVideo
      [srcObject]="this.cameraVideoStream"
      [style.display]="this.cameraPosePreviewStream ? 'none' : 'block'"
      class="camera-preview"
      autoplay
      muted
      playsinline
    ></video>
    <video
      #cameraPosePreviewVideo
      [srcObject]="this.cameraPosePreviewStream"
      [style.display]="
        (this.cameraPosePreviewStream && this.searchTargetPoseImageDataUrl) ||
        !this.cameraPosePreviewStream
          ? 'none'
          : 'block'
      "
      class="camera-preview"
      autoplay
      muted
      playsinline
    ></video>
    <img
      class="camera-preview"
      *ngIf="this.searchTargetPoseImageDataUrl"
      [src]="this.searchTargetPoseImageDataUrl"
    />
    <!---->
  </div>

  <!-- ボタン領域 -->
  <div
    class="buttons"
    *ngIf="
      this.state === 'standby' ||
      this.state === 'completed' ||
      this.state === 'countdown'
    "
  >
    <!-- シャッターボタン -->
    <button
      #shutterButton
      class="shutter-button"
      mat-button
      mat-stroked-button
      color="primary"
      (click)="this.startPhotoShootCountdown()"
      *ngIf="this.state === 'standby' || this.state === 'completed'"
    >
      <mat-icon style="margin-bottom: 2px">emoji_people</mat-icon>
      &nbsp;
      <ng-container *ngIf="this.state === 'standby'"> はじめる </ng-container>
      <ng-container *ngIf="this.state === 'completed'"> もう一度 </ng-container>
      &nbsp;
    </button>

    <button
      class="shutter-button"
      mat-button
      mat-stroked-button
      color="warn"
      (click)="this.cancelPhotoShootCountdown()"
      *ngIf="this.state === 'countdown'"
    >
      &nbsp; キャンセル &nbsp;
    </button>
    <!---->

    <!-- セルフタイマー設定ボタン/メニュー -->
    <button
      class="self-timer-menu-button"
      mat-icon-button
      [matMenuTriggerFor]="selfTimerMenu"
      aria-label="ポーズ認識までの待ち時間"
      matTooltip="ポーズ認識までの待ち時間"
      [disabled]="this.state === 'countdown'"
    >
      <mat-icon *ngIf="this.countdownSecondsForDecidePose === 3"
        >timer_3</mat-icon
      >
      <mat-icon *ngIf="this.countdownSecondsForDecidePose === 10"
        >timer_10</mat-icon
      >
    </button>
    <mat-menu #selfTimerMenu="matMenu">
      <button
        (click)="this.setCountdownSecondsForDecidePose(3)"
        mat-menu-item
        [disabled]="this.countdownSecondsForDecidePose === 3"
      >
        <mat-icon>timer_3</mat-icon>
        <span>3秒後にポーズ認識</span>
      </button>
      <button
        (click)="this.setCountdownSecondsForDecidePose(10)"
        mat-menu-item
        [disabled]="this.countdownSecondsForDecidePose === 10"
      >
        <mat-icon>timer_10</mat-icon>
        <span>10秒後にポーズ認識</span>
      </button>
    </mat-menu>
    <!---->

    <!-- 検索範囲設定ボタン/メニュー -->
    <button
      class="search-range-menu-button"
      mat-icon-button
      [matMenuTriggerFor]="shutterMenu"
      aria-label="検索範囲"
      matTooltip="検索範囲"
      [disabled]="this.state === 'countdown'"
    >
      <mat-icon *ngIf="this.searchPoseRange === 'all'">emoji_people</mat-icon>
      <mat-icon *ngIf="this.searchPoseRange === 'bodyPose'"
        >accessibility</mat-icon
      >
      <mat-icon *ngIf="this.searchPoseRange === 'handPose'"
        >sign_language</mat-icon
      >
    </button>
    <mat-menu #shutterMenu="matMenu">
      <button
        (click)="this.setSearchPoseRange('all')"
        mat-menu-item
        [disabled]="this.searchPoseRange === 'all'"
      >
        <mat-icon>emoji_people</mat-icon>
        <span>身体＋手指でポーズを探す</span>
      </button>
      <button
        (click)="this.setSearchPoseRange('bodyPose')"
        mat-menu-item
        [disabled]="this.searchPoseRange === 'bodyPose'"
      >
        <mat-icon>accessibility</mat-icon>
        <span>身体でポーズを探す</span>
      </button>
      <button
        (click)="this.setSearchPoseRange('handPose')"
        mat-menu-item
        [disabled]="this.searchPoseRange === 'handPose'"
      >
        <mat-icon>sign_language</mat-icon>
        <span>手指でポーズを探す</span>
      </button>
    </mat-menu>
    <!---->
  </div>
  <!---->
</div>
