@keyframes shutterAnimation {
  0% {
    transform: scaleY(0);
  }
  40% {
    transform: scaleY(101%);
  }
  60% {
    transform: scaleY(101%);
  }
  100% {
    transform: scaleY(0);
  }
}

@keyframes blinker {
  30% {
    opacity: 0.8;
  }
  50% {
    opacity: 1;
  }
}

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  padding: 0 0.5rem 0 0.5rem;

  .caption {
    font-size: 1rem;
    margin: 0.1rem 0 1rem 0;

    small {
      font-size: 0.7rem;
    }
  }

  .search-ctrl {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
    width: fit-content;
    gap: 1rem;

    .video-container {
      position: relative;

      .shutter {
        background-color: transparent;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        &::before {
          animation: shutterAnimation 0.8s forwards 1;
          transform-origin: top;
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 50%;
          left: 0;
          background-color: #303030;
        }

        &::after {
          animation: shutterAnimation 0.8s forwards 1;
          transform-origin: bottom;
          content: '';
          position: absolute;
          top: 50%;
          right: 0;
          bottom: 0;
          left: 0;
          background-color: #303030;
        }
      }

      .message {
        color: #ffffff;
        font-size: 1rem;
        position: absolute;
        right: 0.5rem;
        left: 0.5rem;
        top: 0.5rem;
        padding: 1rem 1rem;
        box-sizing: border-box;
        border-radius: 3rem;
        background-color: rgba(0, 0, 0, 0.5);

        &.init {
          background-color: white;
          font-size: 0.8rem;
          color: black;
          animation: blinker 1.5s ease-in-out infinite;
        }

        mat-icon {
          vertical-align: middle;
          margin: 0 5px 0 -0.5rem;
          line-height: 1.2rem;
          font-size: 1.2rem;
        }
      }

      .camera-preview {
        max-height: 100%;
        max-width: 100%;
        width: fit-content;
        z-index: 2;

        &.hide {
          z-index: 0;
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
        }
      }
    }

    .buttons {
      width: 100;
      display: flex;
      justify-content: center;
      align-items: center;

      // シャッターボタン
      .shutter-button {
        width: calc(100% + 0.5rem);
      }

      // 検索範囲設定ボタン
      .search-range-menu-button {
        position: relative;
        right: 0rem;
      }

      // セルフタイマー設定ボタン
      .self-timer-menu-button {
        position: relative;
        right: 0rem;
      }

      // カメラの切り替えボタン
      .camera-switch-button {
        position: relative;
        left: 0.5rem;
      }
    }
  }
}

// レスポンシブ (モバイル)

@media screen and (max-width: 799px) {
  :host {
    padding: 0 0 1rem 0;
  }
}
