:host {
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.simple-card {
  padding: 1rem 1rem 0.75rem 1rem;
  width: 80vw;
}

// ページの概要

.page-summary {
  width: 80vw;
  text-align: center;

  h2 {
    color: #555555;
    font-size: 1.5rem;
    font-weight: lighter;
    margin: 0 0 0 0;
  }
}

// 見出し

h3 {
  font-size: 1.1rem;
  margin-bottom: 0.75rem;
}

h4 {
  font-size: 0.9rem;
  margin: 0 0 0 0;
}

// 本文

p {
  font-size: 0.85rem;
}

// 小さい文字

small {
  font-size: 0.8rem;
}

// リスト

ul {
  font-size: 0.85rem;
  padding-left: 2rem;

  > li {
    margin: 0.5rem 0 0.8rem 0;

    small {
      display: inline-block;
      margin-top: 0.2rem;
    }

    ul {
      list-style: square;
      li {
        margin: 0.25rem 0 0.5rem 0;
      }
    }
  }
}
