<div class="about-app simple-card bordered">
  <h3>Derespose について</h3>
  <p>
    Derespose (でれすぽーず)
    は、デレスポのポーズを探すための非公式サービスです。
  </p>
  <p>
    デレスポでAR写真を撮影されている P
    の皆さまに役立てていただけることを願って生まれました。<br />
    ご意見がございましたら、
    <a href="https://twitter.com/arisucool" target="_blank" rel="noopener"
      >@arisucool</a
    >
    までお気軽にお寄せください。
  </p>
  <p>
    現在対応しているポーズ (楽曲) については、<a href="/about/supported-poses"
      >ポーズの対応状況</a
    >
    をご覧ください。
  </p>
</div>

<div class="terms simple-card bordered">
  <a name="terms"></a>
  <h3>ご承諾事項</h3>
  <p>
    デレスポ (正式名称: アイドルマスター シンデレラガールズ
    スターライトスポット) は、BANDAI NAMCO Entertainment Inc.
    様の製品および商標です。<br />
    一方、Derespose (以下、本サービス)
    は、同社と一切関係のない個人により趣味として開発しております。<br />
    従って、同社に問い合わせをするなど、迷惑をかける行為は決して行わないよう、お願いいたします。
  </p>
  <p>
    本サービスの使用によって、いかなるトラブルが発生した場合も、開発者は一切の責任を負いかねます。<br />
    尚、本サービスはデレスポと連携する類ではなく、デレスポの動作に一切の影響を与えることはありません。
  </p>
  <p>本サービスの使用にあたり、プライバシーポリシーもご確認ください。</p>
</div>

<div class="policy simple-card bordered">
  <a name="privacy-policy"></a>
  <h3>プライバシーポリシー</h3>
  <p style="margin-left: 0">
    本サービスでは、個人情報を扱うことはありません。また、ソースコードを公開しており、安全性をご確認いただけます。<br />
    しかし、カメラを用いる特性上、より安心してご利用いただくために、以下にポリシーを掲載いたします。
  </p>
  <h4>1. ポーズ認識検索で扱う情報について</h4>
  <p>
    本サービスのポーズ認識検索では、お使いの端末のカメラを使用して、あなたのポーズを認識します。
    <br />
    カメラの映像は、お使いの端末内で処理されるため、サーバへの送信や記録等は行われません。
    <br />
    ただし、認識したポーズ情報 (映像・画像・個人情報等を含まないもの)
    は、サーバに送信され、一致するタグの取得や精度改善のために使用されます。<br />
  </p>
  <h4>2. タグ検索で扱う情報について</h4>
  <p>
    本サービスのタグ検索では、選択されたタグの情報 (例: "ダブルピース")
    をサーバへ送信することで、検索を行います。<br />
  </p>
  <h4>3. タグ編集で扱う情報について</h4>
  <p>
    本サービスでは、他のユーザの役に立つよう、検索したポーズにタグを付けることができます。<br />
    編集されたタグの情報は、サーバへ送信および記録され、全てのユーザと共有されます。
  </p>
  <h4>4. アクセスログの取得について</h4>
  <p>
    本サービスでは、他のいかなるサービスと同様に、サーバ側でアクセスログを取得しており、IPアドレスが記録されます。<br />
    このアクセスログは、原則、12ヶ月経過後に自動的に削除されます。
  </p>
  <h4>5. プライバシーポリシーの改定について</h4>
  <p>
    これらのポリシーは、今後の機能追加などに伴って変更される可能性があります。あらかじめご了承ください。
  </p>
  <p>2023/01/12　初版</p>
</div>

<div class="simple-card bordered">
  <h3>ライセンス</h3>
  <p>
    Derespose は、オープンソースソフトウェア (OSS)
    として、ソースコード一式を公開しています。<br />
    <a href="https://github.com/arisucool/derespose" target="_blank"
      >https://github.com/arisucool/derespose</a
    >
  </p>
  <p>
    その他のサードパーティライセンスについては、<a
      href="/3rdpartylicenses.txt"
      target="_blank"
      >こちら</a
    >
    をご覧ください。
  </p>
  <p>
    また、本サービスにてポーズ検索を行うと、該当するポーズの画像が表示されます。
    この画像は、BANDAI NAMCO Entertainment Inc.
    様のアプリを用いて撮影したものであるため、同社に権利が帰属します。<br />
  </p>
</div>

<div class="bottom-navigation">
  <a routerLink="/"
    ><mat-icon>navigate_before</mat-icon> &nbsp; トップページへ</a
  >
</div>
