<div class="app-page-summary">
  <h2>ポーズの対応状況</h2>
</div>

<div class="release-status app-card bordered">
  <p>
    現在、Derespose では、以下のポーズのみに対応しております。<br />
    ポーズ検索の速度・精度・UIなどの改善をしながら、順次追加してまいります。
  </p>
  <ul *ngIf="this.poseSetDefinitions !== undefined">
    <li>
      楽曲ポーズ:
      <ul
        *ngIf="
          this.poseSetDefinitions.songs !== undefined &&
          1 <= this.poseSetDefinitions.songs.length
        "
      >
        <li *ngFor="let poseSet of this.poseSetDefinitions?.songs">
          {{ poseSet.title }}
        </li>
      </ul>
    </li>
    <li>
      全体ポーズ:
      <span
        *ngIf="
          this.poseSetDefinitions.commonPoses === undefined ||
          this.poseSetDefinitions.commonPoses.length === 0
        "
      >
        (現在未対応)
      </span>
      <ul
        *ngIf="
          this.poseSetDefinitions.commonPoses !== undefined &&
          1 <= this.poseSetDefinitions.commonPoses.length
        "
      >
        <li
          *ngFor="let poseSetDefinition of this.poseSetDefinitions?.commonPoses"
        >
          {{ poseSetDefinition.title }}
        </li>
      </ul>
    </li>
    <li>
      ○○ちゃんっぽく:
      <span
        *ngIf="
          this.poseSetDefinitions.chanpokuPoses === undefined ||
          this.poseSetDefinitions.chanpokuPoses.length === 0
        "
      >
        (現在未対応)
      </span>
      <ul
        *ngIf="
          this.poseSetDefinitions.chanpokuPoses !== undefined &&
          1 <= this.poseSetDefinitions.chanpokuPoses.length
        "
      >
        <li
          *ngFor="
            let poseSetDefinition of this.poseSetDefinitions?.chanpokuPoses
          "
        >
          {{ poseSetDefinition.title }}
        </li>
      </ul>
    </li>
  </ul>
  <p>
    ※
    これらのポーズ情報は、私どもでデレスポ/デレステによる動画を撮影し、さらに機械学習によるポーズ検出
    (＝姿勢の推定)
    を行うことで独自に生成しております。あくまで推定であるため、本来のポーズと比べて、一部の誤りや欠落が生じる場合があります。
  </p>
  <p>
    ※
    各楽曲のポーズ数は、独自の基準で自動的に算出した数値であり、振り付けの複雑度等とは一切関係ありません。
  </p>
  <p>
    ※
    マイクや扇子などの手持ちアイテムがある楽曲のポーズについては、現時点では対応しておりません。ご了承ください。
  </p>
</div>

<div class="app-bottom-navigation">
  <a routerLink="/about">
    <mat-icon>navigate_before</mat-icon> &nbsp; Derespose についてへ</a
  >
</div>
