<div class="container init">
  <div class="search-form-container">
    <p class="caption">
      自分でポーズをとって探す
      <mat-icon style="vertical-align: middle; margin: 0 -2rem 4px 1rem">
        emoji_people
      </mat-icon>
      <br />
      <small
        >例えば、あなたが手を振ると、デレスポARから、手を振るポーズのある曲を探します</small
      >
    </p>
    <div class="camera-search-form simple-card">
      <img
        *ngIf="!cameraVideoStream"
        class="camera-preview"
        src="https://via.placeholder.com/320x240"
      />
      <video
        *ngIf="cameraVideoStream"
        [srcObject]="cameraVideoStream"
        class="camera-preview"
        autoplay
        muted
        playsinline
      ></video>

      <button
        class="shutter-button"
        mat-button
        mat-stroked-button
        color="primary"
      >
        <mat-icon style="margin-bottom: 2px">emoji_people</mat-icon>
        &nbsp; はじめる &nbsp;
      </button>
    </div>
  </div>
</div>
