<mat-toolbar>
  <a routerLink="">
    <span class="app-title">Derespose</span>
    <span class="app-description">デレスポAR ポーズ検索</span>
  </a>
</mat-toolbar>

<router-outlet></router-outlet>

<footer>
  <p class="about-link">
    <a routerLink="/about"> Derespose について</a>
    &nbsp; | &nbsp;
    <a routerLink="/about/faq"> FAQ</a>
  </p>
  <p>
    Made by
    <a
      href="https://github.com/arisucool/derespose"
      target="_blank"
      rel="noopener"
    >
      arisu.cool 🍓
    </a>
  </p>
</footer>
