<ng-container *ngIf="this.$currentUser | async as currentUser; else loading">
  <div class="app-page-summary">
    <h2>マイページ</h2>
  </div>

  <div class="about-app app-card bordered">
    <h3>{{ currentUser.displayName }} さん</h3>
    <p class="user-menu">
      <a
        mat-stroked-button
        routerLink="/poses/pose-lists"
        [queryParams]="{ userId: 'me' }"
      >
        <mat-icon>library_books</mat-icon>
        &nbsp;作成したポーズリストの一覧
      </a>
      <button mat-stroked-button (click)="this.logout()">
        <mat-icon>logout</mat-icon>
        &nbsp;ログアウト
      </button>
    </p>
  </div>

  <div class="about-app app-card bordered">
    <h3>ユーザ情報の削除</h3>
    <p>ユーザ情報やポーズリストを削除します。</p>
    <p>
      <button mat-button mat-raised-button color="warn" disabled="">
        Derespose からユーザ情報を削除 (実装中)
      </button>
    </p>
  </div>
</ng-container>

<ng-template #loading>
  <div class="app-page-summary">
    <h2>読み込んでいます...</h2>
  </div>
</ng-template>
