<div class="app-page-summary">
  <h2>
    <ng-container *ngIf="!this.userId">
      みんなのポーズリストを眺める
    </ng-container>
    <ng-container *ngIf="this.userId && this.userId === 'me'">
      マイ ポーズリスト
    </ng-container>
  </h2>
</div>

<p class="note">
  <ng-container *ngIf="!this.userId">
    P の皆さんによって最近作成されたポーズリストの一覧です
  </ng-container>
  <ng-container *ngIf="this.userId && this.userId === 'me'">
    あなたの作成したポーズリストの一覧です
  </ng-container>
</p>

<ng-container *ngIf="!this.poseLists">
  <div class="about-app app-card bordered">読み込んでいます...</div>
</ng-container>

<ng-container *ngIf="this.poseLists">
  <ng-container *ngFor="let poseList of this.poseLists">
    <a class="pose-set" routerLink="/poses/pose-lists/{{ poseList.id }}">
      <div class="about-app app-card bordered">
        <h3>{{ poseList.title }}</h3>
        <p>
          <ng-container *ngIf="poseList.poses"
            >{{ poseList.poses.length }} 件のポーズ
            &nbsp;&nbsp;-&nbsp;&nbsp;</ng-container
          >

          <!-- 自分のポーズリストの場合 -->
          <ng-container *ngIf="this.userId">
            &nbsp;
            <ng-container *ngIf="poseList.publicMode === 'public'">
              <mat-icon
                matTooltip="誰でも閲覧可能"
                style="vertical-align: middle; margin-bottom: 3px"
                >public</mat-icon
              >
            </ng-container>
            <ng-container *ngIf="poseList.publicMode === 'sharedByUrl'">
              <mat-icon
                matTooltip="限定公開 (URLを知っている人が閲覧可能)"
                style="vertical-align: middle; margin-bottom: 3px"
                >link</mat-icon
              >
            </ng-container>
          </ng-container>
          <!---->

          <!-- 共有されたポーズリストの場合 -->
          <ng-container *ngIf="!this.userId">
            作成者:&nbsp;&nbsp; {{ poseList.user.displayName }} さん
          </ng-container>
          <!---->
        </p>
      </div>
    </a>
  </ng-container>
</ng-container>

<div class="app-bottom-navigation">
  <ng-container *ngIf="!this.userId">
    <a routerLink="/">
      <mat-icon>navigate_before</mat-icon>
      &nbsp; トップページへ</a
    >
  </ng-container>
  <ng-container *ngIf="this.userId && this.userId === 'me'">
    <a routerLink="/users/me">
      <mat-icon>navigate_before</mat-icon>
      &nbsp; マイページへ</a
    >
  </ng-container>
</div>
