.search-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;

  .caption {
    font-size: 1rem;
    margin: 0.1rem 0 1rem 0;

    small {
      font-size: 0.7rem;
    }
  }

  .tag-search-form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 1rem 0 0 0;
    width: fit-content;
    gap: 1rem;

    .tag-name {
      font-size: 1rem;
      margin-left: -1rem;
    }
  }
}
