<div class="app-page-summary">
  <h2>ユーザ登録・ログイン</h2>
</div>

<div class="about-app app-card bordered">
  <h3>追加機能とは？</h3>
  <p>
    本サービスは、基本的にログイン不要でご利用いただけます。<br />
    しかし、Twitter アカウントでログインすると、追加機能をご利用いただけます。
  </p>
  <ul>
    <li>
      <b>ポーズリスト (マイリスト)</b><br />
      <ul>
        <li>
          利用例 (1):&nbsp;
          PCで検索したポーズをポーズリストに登録しておき、現地でスマートフォンを使って閲覧。
        </li>
        <li>
          利用例 (2):&nbsp;&nbsp;オリジナルのポーズ集を作成して、SNS で共有。
        </li>
      </ul>
    </li>
    <li>and more...</li>
  </ul>
</div>

<div class="about-app app-card bordered">
  <h3>登録・ログイン</h3>
  <p>
    <app-login-form></app-login-form>
  </p>
</div>

<div class="before-to-use app-card bordered">
  <h3>ご利用の前に</h3>
  <p>
    <a routerLink="/about" fragment="terms">ご承諾事項とプライバシーポリシー</a
    >をご確認ください。
  </p>
</div>
