<p class="caption">
  ポーズ一覧
  <mat-icon
    style="vertical-align: middle; margin: 0 -2rem 4px 1rem; visibility: hidden"
  >
    search
  </mat-icon>
</p>
<div class="search-ctrl app-card">
  <p class="pose-set-name">
    <ng-container *ngIf="this.poseSetDefinition?.type === 'song'">
      <mat-icon
        style="
          color: #777777;
          font-size: 1.3rem;
          vertical-align: middle;
          margin: 0.25rem 0.5rem 2px -1rem;
        "
        >music_note</mat-icon
      >
    </ng-container>
    {{ this.poseSetDefinition?.title }}
  </p>

  <!-- 絞り込み -->
  <app-search-filter
    (onFilterChanged)="this.onFilterChanged($event)"
  ></app-search-filter>
  <!---->
</div>
