<div
  class="container"
  [ngClass]="{
    initializing: this.state === 'initializing',
    initialized: this.state === 'initialized',
    searching: this.state === 'searching',
    completed: this.state === 'completed'
  }"
>
  <!-- 検索パネル -->
  <div
    class="search-ctrl-container"
    [ngClass]="{
      'camera-search': this.searchMode && this.searchMode === 'camera',
      'tag-search': this.searchMode && this.searchMode === 'tag',
      'pose-set-search': this.searchMode && this.searchMode === 'poseSet',
      'pose-list-search': this.searchMode && this.searchMode === 'poseList'
    }"
  >
    <ng-container *ngIf="this.searchMode">
      <!-- カメラによる検索 -->
      <app-camera-search-ctrl
        *ngIf="this.searchMode === 'camera'"
        #cameraSearchCtrl
        (onPoseSearchInitialized)="this.onPoseSearchInitialized()"
        (onPoseSearchStarted)="this.onPoseSearchStarted()"
        (onPoseSearchCompleted)="this.onPoseSearchCompleted($event)"
      ></app-camera-search-ctrl>
      <!---->

      <!-- タグによる検索 -->
      <app-pose-tag-search-ctrl
        *ngIf="this.searchMode === 'tag'"
        [tagName]="this.searchTarget?.tag"
        (onPoseSearchStarted)="this.onPoseSearchStarted()"
        (onPoseSearchCompleted)="this.onPoseSearchCompleted($event)"
      ></app-pose-tag-search-ctrl>
      <!---->

      <!-- ポーズリストによる検索 -->
      <app-pose-list-search-ctrl
        *ngIf="this.searchMode === 'poseList'"
        [poseListId]="this.searchTarget?.poseListId"
        (onPoseSearchStarted)="this.onPoseSearchStarted()"
        (onPoseSearchCompleted)="this.onPoseSearchCompleted($event)"
      >
      </app-pose-list-search-ctrl>
      <!---->

      <!-- ポーズセット (ポーズファイル) による検索 -->
      <app-pose-set-search-ctrl
        *ngIf="this.searchMode === 'poseSet'"
        [poseSetName]="this.searchTarget?.poseSetName"
        (onPoseSearchStarted)="this.onPoseSearchStarted()"
        (onPoseSearchCompleted)="this.onPoseSearchCompleted($event)"
      ></app-pose-set-search-ctrl>
      <!---->
    </ng-container>

    <!-- ローディングスピナー -->
    <div class="spinner-container" *ngIf="this.state === 'searching'">
      <ngx-spinner
        type="ball-fussion"
        [fullScreen]="false"
        color="#bedbfd"
        size="medium"
        bdColor="#fefefe88"
      >
      </ngx-spinner>
    </div>
    <!---->
  </div>
  <!---->

  <div
    class="matched-poses-container"
    [ngClass]="{ init: this.state === 'initializing' }"
  >
    <ng-container *ngIf="searchTarget">
      <ng-container *ngIf="this.matchedPoses && 0 < this.matchedPoses.length">
        <!-- 検索結果の各ポーズ -->
        <app-matched-pose
          *ngFor="let pose of this.matchedPoses"
          [pose]="pose"
        ></app-matched-pose>
        <!---->

        <!-- 最終行のレイアウト崩れを防ぐための要素 (不可視) -->
        <app-matched-pose
          class="layout-adjustment-item"
          [pose]="this.matchedPoses[this.matchedPoses.length - 1]"
          *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"
        >
          &nbsp;
        </app-matched-pose>
        <!---->
      </ng-container>
    </ng-container>
  </div>
</div>

<div class="fab-container">
  <ng-container *ngIf="this.matchedPoses">
    <button
      mat-fab
      color="primary"
      matTooltip="デレスポナビを起動"
      (click)="navi.startNavi()"
    >
      <mat-icon>assistant</mat-icon>
    </button>
    <app-navi #navi [poses]="this.matchedPoses"></app-navi>
  </ng-container>
</div>

<div class="app-bottom-navigation" *ngIf="this.state !== 'searching'">
  <a routerLink="/">
    <mat-icon>navigate_before</mat-icon> &nbsp; トップページへ</a
  >
</div>
