<div
  class="container"
  #container
  [ngClass]="{
    initializing: this.state === 'initializing',
    standby: this.state === 'standby',
    searching: this.state === 'searching',
    completed: this.state === 'completed'
  }"
>
  <!-- 検索の概要 -->
  <div
    class="search-summary"
    [ngClass]="{
      'camera-search': this.searchMode && this.searchMode === 'camera',
      'tag-search': this.searchMode && this.searchMode === 'tag',
      'file-search': this.searchMode && this.searchMode === 'file'
    }"
  >
    <!-- カメラによる検索 -->
    <app-camera-search-form
      class="camera-search-form"
      *ngIf="this.searchMode && this.searchMode === 'camera'"
      #cameraSearchForm
      (onSearchTargetPoseDecided)="this.onSearchTargetPoseDecided($event)"
      (onRetryPhotoShootStarted)="this.onRetryPhotoShootStarted($event)"
    ></app-camera-search-form>
    <!---->

    <!-- タグによる検索 -->
    <app-tag-search-form
      class="tag-search-form"
      *ngIf="this.searchMode && this.searchMode === 'tag'"
      [tagName]="this.searchTargetTag"
    ></app-tag-search-form>
    <!---->

    <!-- ファイルによる検索 -->
    <app-file-search-form
      class="file-search-form"
      *ngIf="this.searchMode && this.searchMode === 'file'"
      [poseFile]="this.searchTargetFile"
    ></app-file-search-form>
    <!---->

    <!-- ローディングスピナー -->
    <div class="spinner-container" *ngIf="this.state === 'searching'">
      <ngx-spinner
        type="ball-fussion"
        [fullScreen]="false"
        color="#bedbfd"
        size="medium"
        bdColor="#fefefe88"
      >
      </ngx-spinner>
    </div>
    <!---->
  </div>
  <!---->

  <div class="matched-poses-container" [ngClass]="{ init: !searchTargetPose }">
    <ng-container
      *ngIf="searchTargetPose || searchTargetTag || searchTargetFile"
    >
      <ng-container *ngIf="this.matchedPoses && 0 < this.matchedPoses.length">
        <!-- 検索結果の各ポーズ -->
        <app-matched-pose
          *ngFor="let pose of this.matchedPoses"
          [pose]="pose"
        ></app-matched-pose>
        <!---->

        <!-- 最終行のレイアウト崩れを防ぐための要素 (不可視) -->
        <app-matched-pose
          class="layout-adjustment-item"
          [pose]="this.matchedPoses[this.matchedPoses.length - 1]"
          *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"
        >
          &nbsp;
        </app-matched-pose>
        <!---->
      </ng-container>
    </ng-container>
  </div>
</div>

<div class="bottom-navigation" *ngIf="this.state !== 'searching'">
  <a routerLink="/">
    <mat-icon>navigate_before</mat-icon> &nbsp; トップページへ</a
  >
</div>
