:host {
  display: block;
  padding: 0 2rem 0 2rem;
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  // 検索の概要

  .search-ctrl-container {
    position: relative;
    box-sizing: border-box;
    width: 20vw;
    min-width: 320px;
    max-width: 400px;

    &.camera-search {
      margin-top: 1.25rem;
    }

    &.tag-search,
    &.pose-set-search,
    &.pose-list-search {
      margin-top: 10rem;
    }

    // ローディングスピナー

    .spinner-container {
      position: relative;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 3rem;
    }
  }

  // 検索結果

  .matched-poses-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 80vw;
    overflow: hidden;

    .layout-adjustment-item {
      visibility: hidden;
      height: 0;
    }
  }
}

// Floating Action Button

.fab-container {
  position: fixed;
  bottom: 3rem;
  right: 2rem;
  z-index: 100;
}

// トップページへ戻るためのナビゲーション

.app-bottom-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
}

// レスポンシブ対応

@media screen and (min-width: 800px) {
  .container {
    // 初期化中・待機中・検索中
    &.initializing,
    &.initialized,
    &.searching {
      align-items: center;
      flex-direction: column;
      height: calc(100dvh - 100px);

      // 検索の概要

      .search-ctrl-container {
        width: 50vw;
        max-width: 480px;
        margin-top: 0 !important;
      }
    }
  }
}

@media screen and (max-width: 799px) {
  :host {
    padding: 0 0.2rem 0 0.2rem;
  }

  .container {
    flex-direction: column;
    margin-top: 1rem;

    .search-ctrl-container {
      width: 100%;
      margin-top: 0 !important;
      margin-bottom: 1rem;
      min-width: unset;
      max-width: unset;

      // ローディングスピナー

      .spinner-container {
        width: 100%;
        margin-top: 3rem;
      }
    }

    // 検索結果

    .matched-poses-container {
      width: 100%;
    }
  }

  // トップページへ戻るためのナビゲーション

  .app-bottom-navigation {
    margin-bottom: 1rem;
  }
}
