<div class="app-page-summary">
  <h2>FAQ</h2>
</div>

<div class="faq-category">
  <a name="general"></a>
  <h3>全般</h3>
</div>

<div class="app-card bordered">
  <h3>Q. どの機能を使えば良いですか？</h3>

  <p>
    <b> "自分でポーズをとって探す" <i>(α版)</i></b>
  </p>
  <ul>
    <li>自宅などで、構図をじっくり考えたいときに便利です。<br /></li>
    <li>例 1: 「明日、こんなポーズで撮りたいけど、どの曲にあるだろう？」</li>
    <li>例 2: 「言葉でうまく表現できないけど、こんなポーズはあるかな？」</li>
  </ul>

  <p>
    <b> "タグからポーズを探す"</b>
  </p>
  <ul>
    <li>お出かけ先などで、サクッと探したいときに便利です。</li>
    <li>例 1: 「良い場所見つけたけど、どんなポーズで撮ろう？」</li>
    <li>例 2: 「ここで撮りたい。ハートサインはどの曲だっけ・・・？」</li>
  </ul>

  <p>
    <b>"みんなのポーズリストを眺める" <i>(α版)</i></b>
  </p>
  <ul>
    <li>他のPさんが公開したポーズリストを眺めて研究できます。</li>
  </ul>

  <p>
    <b>"全てのポーズをじっくり眺める"</b>
  </p>

  <ul>
    <li>自宅などで、新たなポーズをじっくり発掘したいときにご利用ください。</li>
  </ul>
</div>

<div class="app-card bordered">
  <h3>Q. ポーズの表示されない楽曲がありますが？</h3>
  <p>
    対応している楽曲はまだ限定的ですが、順次追加してまいります。<a
      routerLink="/about/supported-poses"
      >ポーズの対応状況</a
    >
    をご覧ください。
  </p>
</div>

<div class="app-card bordered">
  <h3>Q. 見つけたポーズをブックマークしておきたいのですが？</h3>
  <p>
    ぜひ、"マイリスト" 機能をお試しください。<br />
    例えば、PC
    でお気に入りのポーズを見つけておき、後日、スマートフォンからサクッと確認できます。<br />
  </p>
  <p>
    <small>
      ※ 本サービスの利用には、アカウント登録などは原則不要ですが、 "マイリスト"
      機能の利用には、<a routerLink="/auth/login"
        >Twitter アカウントでのログイン</a
      >
      が必要です。
    </small>
  </p>
</div>

<div class="faq-category">
  <a name="camera-search"></a>
  <h3>"自分でポーズをとって探す" (α版) について</h3>
</div>

<div class="app-card bordered">
  <h3>Q. 期待通りのポーズを検索できません</h3>
  <p>以下をご確認ください</p>
  <ul>
    <li>
      <b>カメラ映像の画角内に、「腰から上」と「両腕」が収まっていますか？</b
      ><br />
      <small>
        スマートフォンなどでお使いの場合は、壁やスタンドなどに立てかけて、離れてお使いになることをおすすめします。<br />
        また、カウントダウンの時間は、標準の3秒から10秒に変更することも可能です。</small
      >
    </li>
    <li>
      <b>ただし、身体よりも手指にこだわってポーズをお探しの場合は・・・</b
      ><br />
      先述の画角よりも近づいてください。<br />
      目安としては、画角内に「肩から上」が収まっていて、手の形がはっきりとわかるようにしてください。<br /><br />
      ※ それでもうまくいかない場合は、カメラ映像の右下に表示される検索範囲ボタン
      (<mat-icon
        style="
          font-size: 1rem;
          line-height: 1rem;
          vertical-align: text-bottom;
          height: 1rem;
          width: 1rem;
        "
        >emoji_people</mat-icon
      >) を押して、"手指でポーズを探す" への切り替えをお試しください。
      <br /><br />
      ※
      手指のポーズについては、まだまだ実験段階です。1本指、グー、チョキ、パー程度は判別できますが、ハートサインなどはまだ難しいです。
    </li>
  </ul>
</div>

<div class="app-card bordered">
  <h3>Q. "しばらくお待ちください..." が長いのですが？</h3>
  <p>
    この読み込み処理では、カメラの起動処理のほか、ポーズ認識に使用する機械学習モデルやポーズ情報のダウンロードが行われます。
  </p>
  <p>
    従って、初回使用時やキャッシュが消去されたとき
    (しばらく使用しなかったときも含む) は、特に時間がかかります。<br />恐れ入りますが、画面はそのままでお待ちください。<br />
  </p>
  <p>
    所要時間の目安として、Wi-Fi 回線では 10秒程度、4G 回線では
    30秒〜1分半ほど要することがあります。<br />
    通信量は、すべて再ダウンロードした場合で、35MB前後です。(2023/01 現在)
  </p>
</div>

<div class="faq-category">
  <a name="tag-search"></a>
  <h3>"タグからポーズを探す" について</h3>
</div>

<div class="app-card bordered">
  <h3>Q. 誰でもタグをつけることができますか？</h3>
  <p>
    はい。誰でもタグを付与できます。<br />
    付与したタグは全ユーザに共有されますので、他のユーザの方が便利に使えるように、タグをつけていただければ幸いです。<br />
    皆さまのご協力に感謝申し上げます。
  </p>
  <small>
    ※
    ログを記録しておりますので、不適切なタグを付与された場合は、今後のご利用を制限する場合があります。
    また、管理に支障をきたすレベルの場合は、法的措置を取る可能性があります。
  </small>
</div>

<div class="app-card bordered">
  <h3>Q. 不適切なタグとはどのようなものですか？</h3>
  <p>
    <a routerLink="/about" fragment="prohibited-contents">利用規約</a>
    をご確認ください。
  </p>
</div>

<div class="app-card bordered">
  <h3>Q. 不適切なタグを見つけました。どうしたらいいですか？</h3>
  <p>
    管理者も巡回をしておりますが、タグは誰でも外すことができますので、明らかな問題があると思われるタグを発見されたときは、外していただければ幸いです。<br />
    特に目に余る場合は、
    <a href="https://twitter.com/arisucool" target="_blank" rel="noopener"
      >@arisucool</a
    >
    までご一報いただけますと幸いです。皆さまのご協力に感謝申し上げます。
  </p>
  <small>
    ※
    ログを記録しておりますので、イタズラにタグを削除されたと判断した場合は、今後のご利用を制限する場合があります。
    また、管理に支障をきたすレベルの場合は、法的措置を取る可能性があります。
  </small>
</div>

<div class="faq-category">
  <a name="pose-list"></a>
  <h3>"みんなのポーズリストを眺める" について</h3>
</div>

<div class="app-card bordered">
  <h3>Q. ポーズリストとは何ですか？</h3>
  <p>
    本サービスでは、見つけたポーズを "ポーズリスト"
    としてまとめることができます。<br />
    ぜひ、あなたのポーズリスト (マイリスト)
    を作成し、後日の撮影に活かしたり、他のユーザに共有したりしてください。
  </p>
  <p>
    ※ あなたのポーズリスト (マイリスト) を作成するには、Twitter
    アカウントでログインする必要があります。
  </p>
</div>

<div class="app-card bordered">
  <h3>Q. ポーズリストは誰が作成していますか？</h3>
  <p>
    ポーズリストの作成者は、それぞれのポーズリストのページ内に表示されています。
  </p>
</div>

<div class="app-card bordered">
  <h3>Q. 不適切なポーズリストを見つけました。どうしたらいいですか？</h3>
  <p>
    <a href="https://twitter.com/arisucool" target="_blank" rel="noopener"
      >@arisucool</a
    >
    までご一報いただけますと幸いです。 判断のうえ対応をいたします。<br />
    皆さまのご協力に感謝申し上げます。
  </p>
</div>

<div class="faq-category">
  <a name="tag-search"></a>
  <h3>"全てのポーズをじっくり眺める" について</h3>
</div>

<div class="app-card bordered">
  <h3>Q. 各楽曲のポーズ数とは何ですか？</h3>
  <p>
    各楽曲のポーズ数は、独自の基準で自動的に算出した数値です。<br />
    あくまでも、本サービスを管理・閲覧するうえでの指標ですので、振り付けの複雑度などとは一切関係ありません。
  </p>
</div>

<div class="app-card bordered">
  <h3>Q. "○○ちゃんっぽく" のポーズ一覧はありますか？</h3>
  <p>
    本サービスの一番の目的は、 "無数のポーズを機械とヒトの力で検索可能にする"
    という点にあります。
  </p>
  <p>
    ポーズの収録については、検索や一覧が人力では困難だった "楽曲ポーズ"
    を優先しております。<br />
    また、処理や精度改善の都合上、いずれのポーズも、
    <a
      href="https://idollist.idolmaster-official.jp/detail/20104"
      target="_blank"
      rel="noopener"
      >橘ありすさん</a
    >
    1人のみで踊っていただいています。
  </p>
  <p>
    従って、"○○ちゃんっぽく"
    については、今のところ、ごく一部の収録に留まり、一覧も提供しておりません。<br />
    代わりに、他のサイト様にて、各アイドルの画像を載せたポーズ一覧があり、見やすいため、そちらをご紹介します。
  </p>
  <ul>
    <li>
      <a
        href="https://sites.google.com/view/derespot-ar-matome/%E3%83%9D%E3%83%BC%E3%82%BA%E9%9B%86/%E3%83%9B%E3%83%BC%E3%83%A0%E3%83%9D%E3%83%BC%E3%82%BA%E9%9B%86?authuser=0"
        rel="noopener"
        target="_blank"
        >How to デレスポAR - ポーズ集</a
      >
      &nbsp; - &nbsp; ユーリ様 (<a
        href="https://twitter.com/yuri_0778"
        rel="noopener"
        target="_blank"
        >@yuri_0778</a
      >)
    </li>
  </ul>
</div>

<div class="faq-category">
  <a name="tag-search"></a>
  <h3>その他</h3>
</div>

<div class="app-card bordered">
  <h3>Q. Derespose は誰が開発・提供していますか？</h3>
  <p>
    本サービス は、<a
      href="https://twitter.com/arisucool"
      target="_blank"
      rel="noopener"
      >arisu.cool 🍓</a
    >
    プロジェクトの有志が趣味で開発している非公式サービスです。<br />
    従って、デレスポ/デレステの開発元 である、<u>
      株式会社バンダイナムコエンターテインメント様、株式会社Cygames様とは一切関係がありません</u
    >。
  </p>
  <p>
    その他の注意事項については、<a routerLink="/about" fragment="terms"
      >利用規約</a
    >
    をご確認ください。
  </p>
</div>

<div class="app-card bordered">
  <h3>Q. お知らせはどこにありますか？</h3>
  <p>
    Twitter (<a
      href="https://twitter.com/arisucool"
      target="_blank"
      rel="noopener"
      >@arisucool 🍓</a
    >) をご確認ください。
  </p>
</div>

<div class="app-card bordered">
  <h3>Q. デレスポでどうすれば良い感じの写真が撮れますか？</h3>
  <p>
    デレスポAR
    の基本的な使い方や、撮影テクニックなどは、以下のサイト様が詳しいため、ぜひご覧ください。
  </p>
  <ul>
    <li>
      <a
        href="https://sites.google.com/view/derespot-ar-matome"
        rel="noopener"
        target="_blank"
        >How to デレスポAR</a
      >
      &nbsp; - &nbsp; ユーリ様 (<a
        href="https://twitter.com/yuri_0778"
        rel="noopener"
        target="_blank"
        >@yuri_0778</a
      >)
    </li>
  </ul>
  <p>※ 本サービスと同様、非公式のサイト様です。</p>
</div>

<div class="app-bottom-navigation">
  <a routerLink="/about">
    <mat-icon>navigate_before</mat-icon> &nbsp; Derespose についてへ</a
  >
</div>
