<div class="page-summary">
  <h2>ポーズの対応状況</h2>
</div>

<div class="release-status simple-card bordered">
  <p>
    現在、Derespose では、以下のポーズのみに対応しております。<br />
    ポーズ検索の速度・精度・UIなどの改善をしながら、順次追加してまいります。
  </p>
  <ul *ngIf="this.poseFiles !== undefined">
    <li>
      楽曲ポーズ:
      <ul
        *ngIf="
          this.poseFiles.songs !== undefined && 1 <= this.poseFiles.songs.length
        "
      >
        <li *ngFor="let poseFile of this.poseFiles?.songs">
          {{ poseFile.title }}
        </li>
      </ul>
    </li>
    <li>
      全体ポーズ:
      <span
        *ngIf="
          this.poseFiles.commonPoses === undefined ||
          this.poseFiles.commonPoses.length === 0
        "
      >
        (現在未対応)
      </span>
      <ul
        *ngIf="
          this.poseFiles.commonPoses !== undefined &&
          1 <= this.poseFiles.commonPoses.length
        "
      >
        <li *ngFor="let poseFile of this.poseFiles?.commonPoses">
          {{ poseFile.title }}
        </li>
      </ul>
    </li>
    <li>
      ○○ちゃんっぽく:
      <span
        *ngIf="
          this.poseFiles.chanpokuPoses === undefined ||
          this.poseFiles.chanpokuPoses.length === 0
        "
      >
        (現在未対応)
      </span>
      <ul
        *ngIf="
          this.poseFiles.chanpokuPoses !== undefined &&
          1 <= this.poseFiles.chanpokuPoses.length
        "
      >
        <li *ngFor="let poseFile of this.poseFiles?.chanpokuPoses">
          {{ poseFile.title }}
        </li>
      </ul>
    </li>
  </ul>
  <p>
    ※
    これらのポーズ情報は、私どもでデレスポ/デレステによる動画を撮影し、さらに機械学習によるポーズ検出
    (＝姿勢の推定)
    を行うことで独自に生成しております。あくまで推定であるため、本来のポーズと比べて、一部の誤りや欠落が生じる場合があります。
  </p>
  <p>
    ※
    マイクや扇子などの手持ちアイテムがある楽曲のポーズについては、現時点では対応しておりません。ご了承ください。
  </p>
</div>

<div class="bottom-navigation">
  <a routerLink="/about">
    <mat-icon>navigate_before</mat-icon> &nbsp; Derespose についてへ</a
  >
</div>
