<div class="release-status simple-card bordered">
  <a name="release-status"></a>
  <h3>ポーズの対応状況</h3>
  <p>
    現在、Derespose では、以下のポーズのみに対応しております。<br />
    ポーズ検索の速度・精度・UIなどの改善をしながら、順次追加してまいります。
  </p>
  <ul *ngIf="this.poseFiles !== undefined">
    <li>
      楽曲ポーズ:
      <ul
        *ngIf="
          this.poseFiles.songs !== undefined && 1 <= this.poseFiles.songs.length
        "
      >
        <li *ngFor="let poseFile of this.poseFiles?.songs">
          {{ poseFile.title }}
        </li>
      </ul>
    </li>
    <li>
      全体ポーズ:
      <span
        *ngIf="
          this.poseFiles.commonPoses === undefined ||
          this.poseFiles.commonPoses.length === 0
        "
      >
        (現在未対応)
      </span>
      <ul
        *ngIf="
          this.poseFiles.commonPoses !== undefined &&
          1 <= this.poseFiles.commonPoses.length
        "
      >
        <li *ngFor="let poseFile of this.poseFiles?.commonPoses">
          {{ poseFile.title }}
        </li>
      </ul>
    </li>
    <li>
      ○○ちゃんっぽく:
      <span
        *ngIf="
          this.poseFiles.chanpokuPoses === undefined ||
          this.poseFiles.chanpokuPoses.length === 0
        "
      >
        (現在未対応)
      </span>
      <ul
        *ngIf="
          this.poseFiles.chanpokuPoses !== undefined &&
          1 <= this.poseFiles.chanpokuPoses.length
        "
      >
        <li *ngFor="let poseFile of this.poseFiles?.chanpokuPoses">
          {{ poseFile.title }}
        </li>
      </ul>
    </li>
  </ul>
  <p>
    ※ Derespose で使用するポーズ情報は、動画から機械学習でポーズ検出
    (姿勢の推定) を行うことで独自に生成しています。<br />従って、実際のモーションと比べて、誤りや一部の欠落が生じる場合があります。
  </p>
  <p>
    ※
    マイクや扇子などの手持ちアイテムがある楽曲については、将来的に対応予定です。ご了承ください。
  </p>
</div>

<div class="navigation">
  <a routerLink="/about">&lt;&lt;&nbsp;&nbsp; Derespose について</a>
</div>
